<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ arrayBufferToBase64(cartItem.product.image.data) }}" alt="product image" class="img-thumbnail">
      </div>
      <div class="col-md-10">
        <div class="d-flex justify-content-between">
          <p><span class="fw-light fs-5">{{ cartItem.product.name }}</span><br>
            <span class="fw-lighter">{{ cartItem.product.stockQuantity > 1 ? 'In Stock': 'Out of Stock' }}</span>
          </p>
          <p class="fw-semibold fs-5">{{ cartItem.product.price | currency:'GH&cent; ':'symbol':'1.0-2' }}</p>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <button class="btn px-0 border border-0" (click)="onDeleteFromCart()"><i class="bi bi-trash3"></i>
            Remove</button>
          <div class="d-flex justify-content-between">
            <button class="btn btn-dark text-white" (click)="onQuantityDecrease()" [disabled]="cartItem.quantity < 2"><i class="bi bi-dash"></i></button>
            <div style="width: 45px;" class="mx-2">
              <input type="text" class="form-control rounded text-center" min="1" value="{{ cartItem.quantity }}">
            </div>
            <button class="btn btn-dark text-white" (click)="onQuantityIncrease()" [disabled]="cartItem.product.stockQuantity <= cartItem.quantity"><i class="bi bi-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
