<div class="container-fluid">
  <div class="container-fluid">
    <app-filters [loadedRegions]="loadedRegions" (regionWasSelected)="onRegionWasSelected($event)" ></app-filters>
    <div class="row">
      <div class="col-md-2">
        <p class="fw-lighter">Categories</p>
        <app-category-list [loadedCategories]="loadedCategories"></app-category-list>
      </div>
      <div class="col-md-10">
        <p class="fw-lighter">All Products</p>
        <app-product-list [loadedProducts]="loadedProducts"></app-product-list>
      </div>
    </div>
  </div>
</div>
