<div class="row py-3 align-items-center">
  <div class="col-md-9 offset-md-2 d-flex align-items-center">
    <p class="fw-light me-3 mb-0">Filters ></p>
    <app-price-filter (onPriceRangeSet)="selectedPriceRange = $event" [clearAllFilters]="clearAllFilters"></app-price-filter>
    <span class="mx-3">|</span>
    <app-region-filter [loadedRegions]="loadedRegions" (regionSelected)="selectedRegion = $event" [clearAllFilters]="clearAllFilters"></app-region-filter>
    <span class="mx-3">|</span>
    <app-category-filter [loadedCategories]="loadedCategories" (categorySelected)="selectedCategory = $event" [clearAllFilters]="clearAllFilters"></app-category-filter>
    <span class="mx-3 text-body-tertiary">|</span>
    <button class="btn border border-0" (click)="onSetFilters()" [disabled]="!isAnyFilterSet()">Apply</button>
    <button class="btn border border-0" (click)="onClearFilters()" [disabled]="!isAnyFilterSet()">Clear All</button>
  </div>
</div>
